{#- Template Parameters: -#}
{#- api: TemplateApi -#}
from fastapi import FastAPI
from starlette.responses import Response

from views import api_router

app = FastAPI(
    title="{{ api.spaced_name }}",
    description="{{ api.description }}",
    version="{{ api.version }}",
)
app.include_router(api_router)


{%- if api.healthcheck_endpoint %}


# Health check for ECS
@app.get(path="{{ api.healthcheck_endpoint }}", include_in_schema=False)
async def healthcheck():
    return Response(content="OK", status_code=200)
{% endif -%}
