{#- Parameters: -#}
{#- api : TemplateApi -#}
[tool.poetry]
name = "{{ api.kebab_name }}"
version = "{{ api.version }}"
description = "{{ api.description }}"
authors = [
    {name = "{{ api.author }}"}
]
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "uvicorn (>=0.37.0,<0.38.0)",
    "fastapi (>=0.118.0,<0.119.0)"
]


[build-system]
requires = ["poetry-core>=2.0.0,<3.0.0"]
build-backend = "poetry.core.masonry.api"

[dependency-groups]
dev = [
    "httpx (>=0.28.1,<0.29.0)",
    "pyyaml (>=6.0.3,<7.0.0)"
]
