{#- Template Parameters: -#}
{#- responses: List[TemplateResponse] -#}
{#- typing_imports: Set[str] -#}
from pydantic import BaseModel
{% if typing_imports %}from typing import {{ typing_imports | join(", ") }}{% endif %}
{% for model in responses %}

class {{ model.name }}(BaseModel):
{%- for field in model.fields %}
    {{ field.name }}: {{ field.type }}{{ " " if field.required else " = None" }}
{%- endfor %}
{% endfor -%}